<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651369577703-qhu2tl3gmbtqlahar5cnjhro52l9drno.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651369577703-qhu2tl3gmbtqlahar5cnjhro52l9drno</string>
	<key>API_KEY</key>
	<string>AIzaSyA3tImW6zxGxdxXVHHOfLsW_pNEIqOsRRk</string>
	<key>GCM_SENDER_ID</key>
	<string>651369577703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lessay.learn</string>
	<key>PROJECT_ID</key>
	<string>lessay-production</string>
	<key>STORAGE_BUCKET</key>
	<string>lessay-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651369577703:ios:51ca4952bceae612beb642</string>
</dict>
</plist>